.card-header {
  padding: 0.25rem 1rem;
  background: var(--grayscale-1);
  border-bottom: var(--grayscale-3) solid 1px;
  border-radius: 0.25rem 0.25rem 0 0;
  color: var(--grayscale-10);
  font-size: 0.75rem;
  font-weight: bold;
}
