.table__wrapper {
  flex: 1;
  position: relative;
}

.table {
  position: absolute;
  inset: 0;
  overflow: scroll;
}

.table__row {
  border-top: #dddddd solid 1px;
  transition: all linear 0.1s;
}

.table__row:hover {
  background: #eeeeee;
}

.table__cell--header,
.table__cell--body {
  font-size: 0.75rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

.table__cell--header {
  font-weight: bold;
}

.table__text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 300px;
  justify-self: stretch;
}
