.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 100vh;
}

.header {
  height: 3rem;
  background: #222;
}

.body {
  position: relative;
  flex: 1;
}

.body__content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.body__nonscrolling-area {
  height: 20rem;
  min-height: 60vh;
  display: flex;
  flex: 3;
  flex-direction: column;
  border-bottom: #999 solid 1px;
}

.body__scrolling-area {
  display: flex;
  overflow: auto;
  transition: all ease-in-out 0.2s;
  flex: 2;
  /* height: auto; */
}

.body__filter-bar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0 0.5rem 0.5rem;
  align-items: flex-end;
}
