.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 100vh;
}

.header {
  height: 3rem;
  background: #222;
}

.body {
  position: relative;
  flex: 1;
}

.body__content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.body__nonscrolling-area {
  height: 20rem;
  min-height: 40vh;
  display: flex;
}

.body__scrolling-area {
  flex: 1;
  display: flex;
  overflow: auto;
}

.body__filter-bar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0.5rem;
  align-items: flex-end;
}
